extends ../layout

block content
    h1.
        #{title}
    form#formAddClip(name="addclip",method="post",action="/clips")
        p Name:
            input#inputName(type="text", placeholder="Identity", name="identity")
        p Duration: 
            input#inputDuration(type="text", placeholder="Duration", name="duration")
        p Aspect:
            input#inputAspect(type="text", placeholder="Aspect", name="aspect")
        p Ratio:
            input#inputRatio(type="text", placeholder="Ratio", name="ratio")
        p Pixel:
            input#inputPixel(type="text", placeholder="Pixel", name="pixel")
        p Caluclated:
            input#inputCaluclated(type="text", placeholder="Caluclated", name="caluclated")
        p Size:
            input#inputSize(type="text", placeholder="Size", name="size")
        p Processed? :
            input#inputProcessed(type="checkbox", name="processed")
        p
            button#btnSubmit(type="submit") submit





        
